<section class="full-width pageContent">
		
		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			<div class="mdl-tabs__panel is-active" id="tabNewAdmin" style="display:block;">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
						<div class="full-width panel mdl-shadow--2dp">
							<div class="full-width panel-tittle bg-primary text-center tittles">
								Configuracion del Sistema
							</div>
							{{#if success_msg}}<div class="alert alert-success">{{success_msg}}</div>{{/if}} 
							{{#if error_msg}}<div class="alert alert-danger">{{error_msg}}</div>{{/if}} 
							<div class="full-width panel-content">
								<form action="/admin/saveConfig" method="post">
									<div class="full-width text-center tittles" style="background-color:#448AFF;font-size:20px;color:#ffffff">
										<label>Datos Empresariales</label>
										<br>
									</div>
									<div class="mdl-grid">
										<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
											<div>
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<label class="text-condensedLight" for="file_url" style="font-size:20px;">Logo de Empresa</label>
													<div class="div_file btn">
														<p class="texto">Escoger imagen (102x102) </p>
														<input type="file" class="btn_enviar mdl-textfield__input" id="file_url" accept=".jpg,.png," name="image_producto" onchange="alertaOferta(this,this.files[0].size)"
														 required/>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div id="poder" style="visibility: hidden;margin:0 auto">
														{{#if linkFoto}}
														<img style="" src="{{Logo_Empresa}}" height="102px" width="102px" id="img_destino">
														{{else}}
														<img style="" src="" height="102px" width="102px" id="img_destino">
														{{/if}}
													</div>
												</div>
											</div>
											<span id="msgError" style="display:none;color:#d50000;position:absolute;font-size:12px;margin-top:3px;">Solo se admite fotos de menos de 300kb</span>
										</div>
			 								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Nombre del Local</label>
												{{#if nameLocal}}
												<input class="mdl-textfield__input" name="Name_Local" id="LocalName" maxlength="30" value="{{Name_Local}}">
												{{else}}
												<input class="mdl-textfield__input" name="Name_Local" id="LocalName" maxlength="30">
												{{/if}}
												<label class="mdl-textfield__label" for="LocalName"></label>
												<span class="mdl-textfield__error">Ingrese sólo letras</span>
								    		</div>
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Correo electrónico</label>
												{{#if emailLocal}}
												<input class="mdl-textfield__input" name="Email_Local" type="email" id="Correo" validation="email" event="keyup" value="{{Email_Local}}">
												{{else}}
												<input class="mdl-textfield__input" name="Email_Local" type="email" id="Correo" validation="email" event="keyup">
												{{/if}}
												<label class="mdl-textfield__label" for="Correo"></label>
												<span class="mdl-textfield__error">Correo No válido</span>
											</div>
										</div>
										<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Nombre del Propietario</label>
												{{#if NamePropi}}
												<input class="mdl-textfield__input" name="Name_Owner" type="text" id="Name_Owner" soloLetras="true" maxlength="30" value="{{Name_Owner}}">
												{{else}}
												<input class="mdl-textfield__input" name="Name_Owner" type="text" id="Name_Owner" soloLetras="true" maxlength="30">
												{{/if}}
												<label class="mdl-textfield__label" for="Name_Owner"></label>
												<span class="mdl-textfield__error">Ingrese sólo letras</span>
											</div>
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Nombre del Gerente</label>
												{{#if NameGerente}}
												<input class="mdl-textfield__input" name="Name_Manager" type="text" id="Name_Manager" soloLetras="true" maxlength="30" value="{{Name_Manager}}">
												{{else}}
												<input class="mdl-textfield__input" name="Name_Manager" type="text" id="Name_Manager" soloLetras="true" maxlength="30">
												{{/if}}
												<label class="mdl-textfield__label" for="Name_Manager"></label>
												<span class="mdl-textfield__error">Ingrese sólo letras</span>
											</div>
										</div>
									</div>
									<div class="full-width text-center tittles" style="background-color:#448AFF;font-size:20px;color:#ffffff">
										<label>Funciones del Sistema</label>
										<br>
									</div>
									<div class="mdl-grid">
										<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Impuesto de Valor Agregado (IVA)</label>
												{{#if emailLocal}}
												<input class="mdl-textfield__input" name="IVA" type="IVA" id="IVA" solonum="true" value="{{IVA}}">
												{{else}}
												<input class="mdl-textfield__input" name="IVA" type="IVA" id="IVA" solonum="true">
												{{/if}}
												<label class="mdl-textfield__label" for="IVA"></label>
												<span class="mdl-textfield__error">Solo se acepta valores númericos</span>
											</div>
										</div>
										<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Existencia Minima</label>
												{{#if emailLocal}}
												<input class="mdl-textfield__input" name="Exist_Min" type="email" id="Exist_Min" solonum="true" value="{{Exist_Min}}">
												{{else}}
												<input class="mdl-textfield__input" name="Exist_Min" type="email" id="Exist_Min" solonum="true">
												{{/if}}
												<label class="mdl-textfield__label" for="Exist_Min"></label>
												<span class="mdl-textfield__error">Solo se acepta valores númericos</span>
											</div>
										</div>
									</div>
										<div align="center">
	                                       <button id="btn-addCliente" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5;">Editar Datos del sistema</button>
	                                   	</div>
                                   	<br><br>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
<script src="../modular/scripts/validacion_form.js"></script>
<script src="../modular/scripts/indentificaciones.js"></script>
<script src="../modular/scripts/validacionPrecios.js"></script>
<script src="../modular/scripts/validation.js"></script>
<script src="../modular/scripts/empleados.js"></script>
<link rel="stylesheet" href="../modular/estilos/empleados.css">
<script type="text/javascript">
    var titulo = document.getElementById("title_static");
    if (titulo) {
        titulo.innerHTML = '<i class="zmdi zmdi-wrench"></i><span class="hide-on-tablet">&nbsp;CONFIGURACIONES</span>'
    };
</script>