<section class="full-width pageContent">
	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
		<div class="mdl-tabs__panel is-active" id="tabNewAdmin">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
					<div class="full-width panel mdl-shadow--2dp">
						<div class="full-width panel-tittle bg-primary text-center tittles">
							Ventas de Productos
						</div>
						<div class="full-width panel-content">
							<!--<form action="/admin/ventas" method="post">-->
							<form action=""></form>
							<br>
							<center>
								<label class="text-condensedLight" style="font-size:17px;">Factura N°  :  {{datos.numero}}</label><br>
								<label onload="obtenerFecha()" class="text-condensedLight" style="font-size:17px;" id="fecha"></label><br>
							</center><br>
							<div class="mdl-grid">
								<!--<div class="mdl-cell mdl-cell--2-col-phone mdl-cell--6-col-tablet mdl-cell--4-col-desktop">-->
								<!-- ------------------------------------------------------------------------------------ --->
								<div style="width:20%;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<label class="text-condensedLight" style="font-size:17px;">Cédula del Cliente</label>
									<input value="" name="cedula" class="mdl-textfield__input" type="text" id="cedula">
									<label class="mdl-textfield__label" for="phoneAdmin"></label>
									<span class="mdl-textfield__error">Cédula inválida</span>
								</div>
								<div style="width:13%;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<button id="btnBuscarCliente" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5;">Buscar</button>
								</div>
								<div style="width:67%;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<label class="text-condensedLight" style="font-size:17px;">Nombre del Cliente</label>
									<input value="{{cliente.nombre}}" class="mdl-textfield__input" type="email" id="emailAdmin">
									<label class="mdl-textfield__label" for="emailAdmin"></label>
									<span class="mdl-textfield__error">Correo Invalido</span>
								</div>
								<!-- ------------------------------------------------------------------------------------ --->
								<div style="width:20%;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<label class="text-condensedLight" style="font-size:17px;">Código del Producto</label>
									<input value="" name="cedula" class="mdl-textfield__input" type="text" id="codigo">
									<label class="mdl-textfield__label" for="phoneAdmin"></label>
									<span class="mdl-textfield__error">Cédula inválida</span>
								</div>
								<div style="width:13%;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<button id="btn-delClient" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5;">Buscar</button>
								</div>
								<div style="width:33%;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<label class="text-condensedLight" style="font-size:17px;">Descripcion</label>
									<input value="{{cliente.nombre}}" class="mdl-textfield__input" type="email" id="descripcion">
									<label class="mdl-textfield__label" for="emailAdmin"></label>
									<span class="mdl-textfield__error">Correo Invalido</span>
								</div>
								<div style="width:17%;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<label class="text-condensedLight" style="font-size:17px;">Precio</label>
									<input value="{{cliente.nombre}}" class="mdl-textfield__input" type="email" id="precio">
									<label class="mdl-textfield__label" for="emailAdmin"></label>
									<span class="mdl-textfield__error">Correo Invalido</span>
								</div>
								<div style="width:17%;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<label class="text-condensedLight" style="font-size:17px;">Cantidad</label>
									<input value="{{cliente.nombre}}" class="mdl-textfield__input" type="number" id="cantidad" max="9999">
									<label class="mdl-textfield__label" for="emailAdmin"></label>
									<span class="mdl-textfield__error">No válido</span>
								</div>
								<!-- ------------------------------------------------------------------------------------ --->
								<!--</div>-->
								<!--<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
										<!--<input name="fecha" class="mdl-textfield__input" type="text" id="NameAdmin">-------------ocultar este
										<label class="mdl-textfield__label" for="NameAdmin"></label>
										<span class="mdl-textfield__error">Nombre invalido</span>
									</div>
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
										<label class="text-condensedLight" style="font-size:17px;">Cédula del Cliente</label>
										<input value="" name="cedula" class="mdl-textfield__input" type="text" id="phoneAdmin">
										<label class="mdl-textfield__label" for="phoneAdmin"></label>
										<span class="mdl-textfield__error">Numero de telfono inavalido</span>
									</div>
									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
										<button id="btn-delClient" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">Buscar Cliente</button>
									</div>

									<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
										<label class="text-condensedLight" style="font-size:17px;">Nombre del Cliente</label>
										<input value="{{cliente.nombre}}" class="mdl-textfield__input" type="email" id="emailAdmin">
										<label class="mdl-textfield__label" for="emailAdmin"></label>
										<span class="mdl-textfield__error">Correo Invalido</span>
									</div>
									<br><br><br><br>
									<div align="center">
										<!--<input type="submit" value="Guardar" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">
	                                            <button id="btn-updClient" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">Modificar</button>
	                                            <button id="btn-seaClient"  class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">Buscar</button>
	                                            <button id="btn-delClient" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">Eliminar</button>
												--
									</div>
								</div>-->
							</div>
							<center>
								<button id="btn-agregar" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F9735; width:300px; height:60px;"><i style="color: #3F9735;" class="zmdi zmdi-shopping-cart"></i> <b> Agregar Producto</b></button>
							</center>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mdl-grid" id="divTabla">
			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
				<div style="overflow-x:auto;">
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive" id="tblProductos">
						<thead>
							<tr>
								<th>#</th>
								<th>Codigo de Producto</th>
								<th>Descripción</th>
								<th>Precio</th>
								<th>Cantidad</th>
								<th>Valor a Pagar</th>
								<th>Quitar</th>
							</tr>
						</thead>
						<tbody id="tablaProductos">
							<!--Aqui iran las tablas generadas-->
						</tbody>
					</table>
				</div>
			</div>

			<center>
				<button id="btn-addClient" title="Registrar nuevo Cliente" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5;"
				 validation="ocultarmostrar" ocultarID="divTabla" mostrarID="tabNewAdmin" event="click">Nuevo Registro</button>
			</center>
		</div>
	</div>
	<br><br>
</section>
<script src="../modular/scripts/ventas.js"></script>
